<style>
  table {
  border-bottom: 1px; 
  width: 100%;

}

th {
  border-right: 2px solid gray; 
}

th, td {
  border-bottom: 2px solid gray;
  padding-left: 10px;
}

.sectionTitle {
  display: block;
  padding: 10px;
  font-size: 30px;
  background-color: blue;
  color: white;
  border-radius: 5px 5px 0px 0px;
}

.certificateInfo {

}

.inner{
  border: 2px solid blue; 
  border-radius: 0px 0px 5px 5px;
  box-shadow: 10px 10px 5px lightblue;
}

.buttonGroup {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}

</style>

<div class='mt-4'>
  <div class="detail">
    <span class="sectionTitle">Chi tiết cơ sở {{store.name}}</span>
    <div class="inner">
      <table>
        <tr>
          <th>Tên cơ sở</th>
          <td>{{store.name}}</td>
        </tr>
        <tr>
          <th>Địa chỉ</th>
          <td>{{store.address}}, {{store.ward}}, {{store.district}}</td>
        </tr>
        <tr>
          <th>Số điện thoại</th>
          <td>{{store.phonenumber}}</td>
        </tr>
        <tr>
          <th>Kiểu cơ sở</th>
          <td>{{store.typestore}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="mt-4">
    <div class='certificateInfo'>
      <span class="sectionTitle">Chứng nhận cơ sở đạt chuẩn</span>
      <div class='inner'>
        <table>
          <tr>
            <th>Số giấy</th>
            <td>{{store.issue}}</td>
          </tr>
          <tr>
            <th>Ngày cấp</th>
            <td>{{store.created}}</td>
          </tr>
          <tr>
            <th>Hạn sử dụng đến</th>
            <td>{{store.dated}}</td>
          </tr>
        </table>
        <div class="buttonGroup">
          {{!-- <button type="button" class="btn btn-secondary">
          <a  href="/stores/{{store._id}}/getnew">Cấp mới giấy chứng nhận</a>            
          </button> --}}

          <button type="button" class="btn btn-danger">
          <a href="/stores/{{store._id}}/takeback">Thu hồi giấy chứng nhận</a>
          </button>

          <button type="button" class="btn btn-secondary">
          <a href="/stores/{{store._id}}/print">In kết quả</a>
          </button>
        </div>
        
      </div>
    </div>
  </div>
  <div class="mt-4">
    <div class='activity'>
      <span class="sectionTitle">Hoạt động thanh, kiểm tra</span>
      <div class='inner'>
        <h3>Cơ sở đã được thanh, kiểm tra vào ngày {{store.testtime}}</h3>
        <h3>Quá trình thanh, kiểm tra:</h3>
        <ol style="font-size: 25px;">
          <li>
            <h4>Kiểm tra tại cơ sở:</h4>
            <ul style="font-size: 20px;">
              <li><b>Chất lượng cơ sở vật chất: {{store.infrastructure}}</b></li>
              <li><b>Chất lượng phục vụ: {{store.service}}</b></li>
              <li><b>Vệ sinh cơ sở: {{store.hygiene}}</b></li>
              <li><b>Vệ sinh môi trường xung quanh: {{store.environment}}</b></li>
            </ul>
          </li>
          <li>
            <h4>Lấy mẫu thực phẩm và thực hiện kiểm định:</h4>
            <ul style="font-size: 20px;">
              <li><b>Thẩm định tại Trung tâm: {{store.inspectionunit}}</b></li>
              <li><b>Kết quả thẩm định: {{store.result}}</b></li>
            </ul>
          </li>
          <li>
            <h4>Kết luận về kết quả thanh kiểm tra: <b>{{store.conclusion}}</b></h4>
          </li>
          <li>
            <h4>quyết định xử lý vi phạm: <b>{{store.infringe}}</b></h4>
          </li>
        </ol>

        {{!-- <table>
        <tr>
          <th>Chất lượng cơ sở vật chất</th>
          <td>{{store.infrastructure}}</td>
        </tr>
        <tr>
          <th>chất lượng phục vụ</th>
          <td>{{store.service}}</td>
        </tr>
        <tr>
          <th>Vệ sinh cơ sở</th>
          <td>{{store.hygiene}}</td>
        </tr>
        <tr>
          <th>Vệ sinh môi trường xung quanh</th>
          <td>{{store.environment}}</td>
        </tr>
      </table>

      <h4>Lấy mẫu thực phẩm và thực hiện kiểm định</h4>
      <table>
        <tr>
          <th>Thẩm định tại Trung tâm</th>
          <td>{{store.inspectionunit}}</td>
        </tr>
        <tr>
          <th>Kết quả thẩm định</th>
          <td>{{store.result}}</td>
        </tr>
      </table>

      <h4>Kết luận về kết quả thanh kiểm tra: {{store.conclusion}}</h4>

      <h4>quyết định xử lý vi phạm: {{store.infringe}}</h4> --}}
      </div>
    </div>
  </div>

</div>
